<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (t 'navbar.title' ), root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'EN', locale: 'en' if I18n.locale == :ru %></li>
        <li><%= link_to 'RU', locale: 'ru' if I18n.locale == :en %></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li class="img-circle">
              <%= image_tag current_user.avatar_url(:thumb), class:"img-circle" %>
            </li>
          <p class="navbar-text">
            <%= t 'navbar.logged_in_as' %> <%= current_user.name %>
          </p>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t 'navbar.account' %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li><%= link_to (t 'navbar.panel'), admin_root_path %></li>
                <% end %>
                <li><%= link_to (t 'navbar.avatar'), edit_avatar_path(current_user) %></li>
                <li><%= link_to (t 'navbar.edit_profile'), edit_user_registration_path(current_user) %></li>
                <li><a href=#><%= t 'navbar.view_orders' %></a></li>
                <li class="divider"></li>
                <li><%= link_to (t 'navbar.sign_out'), destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <%= link_to (t 'navbar.sign_up'), new_user_registration_path, class: 'btn btn-default navbar-btn' %>
          <%= link_to (t 'navbar.log_in'), new_user_session_path, class: 'btn btn-default navbar-btn' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>