<h1><%= @product.send("title_" + "#{I18n.locale}") %></h1>
<%= image_tag @product.image_url(:thumb)%>
<p><%= @product.description %></p>
<p>
  Price: <b><%= @product.price %></b>
</p>
<p>
  <b>Category: </b> <%= @product.category.name %>
</p>
<div>
  <%= link_to 'Back to list', products_path %>
</div>